.experience-container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 50px;
    background: linear-gradient(135deg, #1c1c1c, #343a40);
    color: white;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  
  .experience-card {
    width: 60%; 
    background: #222;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .experience-card:hover {
    transform: scale(1.02);
  }
  
  h2 {
    font-size: 24px;
    color: #00bcd4;
    margin-bottom: 5px;
  }

  .vertical-timeline-element-content h2 {
    color: #00bcd4;
}
  
  h3 {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 5px;
  }
  
  .duration {
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
  }
  
  .skills {
    font-size: 14px;
    font-weight: bold;
    color: #76c7c0;
  }